<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active"
              style="cursor:pointer"
              ><a routerLink="/Intro">Intro</a></li>
              <li routerLinkActive="active"
              style="cursor:pointer"
              [routerLinkActiveOptions]="{exact: true}"
              ><a routerLink="">Let's Play!</a></li>
              <li><a >About</a> </li>
              <li><a >Contact</a></li>
            </ul>
        </div>
      </nav>
    </div>
  </div>

