  <div class="card"(click)="Reveal()" (mouseenter)="ShowArrows()" (mouseleave)="ShowArrows()">
 <div class="revealed"  *ngIf="this.var.revealed">
<ng-content></ng-content>
   </div>
       <div style="width:100%; height:100%; display:flex; justify-content:space-evenly; flex-wrap:wrap;" *ngIf="hover" >
    <div class="glyphicon glyphicon-arrow-up" ></div>
    <div class="glyphicon glyphicon-arrow-left"></div>
     <div class="glyphicon glyphicon-arrow-right" ></div>
    <div class="glyphicon glyphicon-arrow-down"></div>
    </div>
</div>

