<div style="width:100%">
<button class="btn btn-primary pull-left" (click)="ResetGame()">Start Game!
  </button> <!-- Initialize game button -->

  <div class="dropdown pull-right" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Declare Win!
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Same Numbers</a></li>
        <li><a href="#">Same Color</a></li>
        <li><a href="#">Everything else</a></li>
      </ul>
    </div>
</div>
  <div class="board"> <!-- Background Box (grey) -->
    <app-card
    *ngFor="let card of mainArray"
    [var]="card"
    [gameArray]="mainArray"> <!--Card Component -->
    {{card.value}}{{card.text}}
    </app-card>
  </div>
<button class="btn btn-primary col-xs-12" style="width: 30%; margin:10px 35% "
(click)="this.gameFuntions.shuffleArray(mainArray)">Shuffle Array</button>
